/* Enoch's header */
header {
    color:  var(--lm-blue);
    /* background-color: var(--white); */
    text-decoration: none;
    display: flex;
    height:10%;
}
main {
    padding-top: 3%;
}
.home-link {
    text-decoration: none;
    color:  var(--lm-blue);
}