/* Enoch's header */
header {
    color:  var(--lm-blue);
    text-decoration: none;
    display: flex;
    height:10%;
    min-height: max-content;
}
main {
    padding-top: 3%;
}
.home-link {
    text-decoration: none;
    color:  var(--lm-blue);
}
@media screen and (min-width:1001px) and (max-width: 1366px) {
    html {
        margin-top: 3%;
    }
}

@media screen and (min-width:975px) and (max-width: 1000px) {
    html {
        margin-top: 3%;
    }
    header {
        /* display: flex;
        flex-direction: column; */
        min-height: fit-content;
        font-size: 1.20rem;
    }
}
@media screen and (min-width:520px)and (max-width: 726px) {
    html {
        margin-top: 11%;
    }
    header {
        /* display: flex;
        flex-direction: column; */
        min-height: fit-content;
        font-size: 1.20rem;
    }
}
@media screen and (min-width:376px)and (max-width: 519px) {
    html {
        margin-top: 20%;
    }
    header {
        /* display: flex;
        flex-direction: column; */
        min-height: fit-content;
        font-size: 1rem;
    }
}
@media screen and (min-width:280px) and (max-width:375px) {
    html {
        margin-top: 30%;
    }
    header {
        /* display: flex;
        flex-direction: column; */
        min-height: fit-content;
        font-size: 0.9rem;
    }
}