/* Enoch's header */
header {
    color:  var(--lm-blue);
    /* background-color: var(--white); */
    text-decoration: none;
    display: flex;
    height:10%;
}
main {
    padding-top: 3%;
}
.home-link {
    text-decoration: none;
    color:  var(--lm-blue);
}

@media screen and (min-width:376px) and (max-width: 1000px) {
    html {
        margin-top: 15%;
    }
    header {
        display: flex;
        flex-direction: column;
        height:20%;
    }
}
@media screen and (min-width:520px)and (max-width: 726px) {
    html {
        margin-top: 25%;
    }
    header {
        display: flex;
        flex-direction: column;
        height:20%;
    }
}
@media screen and (min-width:376px)and (max-width: 519px) {
    html {
        margin-top: 37%;
    }
    header {
        display: flex;
        flex-direction: column;
        height:20%;
    }
}
@media screen and (max-width:375px) {
    html {
        margin-top: 50%;
    }
    header {
        display: flex;
        flex-direction: column;
        height:20%;
    }
}