body, html {
  font-family: 'Courier New';
  font-size: 12px;
  text-align: center;
  padding-bottom: 15%;
  width: 100%;
}

/* Flex container */
.container {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Horizontally centers the flex items */
  align-items: start; /* Aligns items to the start of the flex container */
}

main {
  /* flex-grow: 1; Allows the main element to grow and fill the space */
  /* Other styles */
  flex-basis: 700px;
}

aside {
  /* Your existing styles */
  /* Set a flex-basis if you want to control the initial width of the aside */
  margin: 0;
  flex-basis: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}



/* create jobPosts.css once corresponding component is created and add the following CSS */
div.job-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
  gap: 2%;
  width: fit-content;
  
}

h1.user-cards {
  margin:0;
}

/* individual cards css */
.project-card {
  border: 1px solid black;
  /* margin-bottom: 20px; */
  min-width: 150px;
  min-height: 200px;
  overflow-y: auto;
  /* display: flex;
  flex-direction: column; */
  /* vertical-align: middle; */
}

/* make separate css for landing */
/* make ternary css for background image for main */
.landing-layout {
  background: url(https://www.bbg.org/img/uploads/hero/_desktop_hero_regular/bug-2015-harvest.jpg);
  background-size: cover;
  min-height: 100vh; /* This will make sure the section covers the entire viewport height */
  width: 100%; /* Ensure it spans the full width */
}

section.landing-functionality {
  margin: auto;
  top: 50vh;
  color: aquamarine;
  text-align: center;
}
