:root {
  --lightblue: aliceblue;
  --white: rgba(255, 255, 255, 0.629);
  --lm-blue: rgba(0, 113, 158, 0.871);
  --yellow: #ffc107;
  --dark: rgba(0, 0, 0, 1);
  /* dark mode background!!! */
  --background: url("https://images-assets.nasa.gov/image/iss040e090835/iss040e090835~medium.jpg");
}

body, html {
  font-family: Courier;
  font-size: 120%; /* browser default is typically 16px */
  text-align: center;
  padding-bottom: 15%; /* Responsive, no change needed */
  width: 100%;
  background-color: var(--lightblue);
  background: var(--background);
  background-size: cover;
  background-attachment: fixed;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1000; /* Ensures the header is above other content */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
  font-size: 2rem;
  color: var(--lm-blue);
}
h2 {
  color: var(--lm-blue);
}

main {
  /* margin-top:5vh; */
  display: flex;
  justify-content: center;
  padding-left: 1%;
  padding-right: 1%;
  /* padding-top: 5%; */
  /* padding top is for space between main and header */
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5%;
  width: 100%;
  padding: 0% 0% 1% 1%;
  /* padding: 3% 1% 1% 1%; */
}

aside {
  margin: 0;
  float: left;
  border: 1px solid var(--lm-blue);
  max-height: 100%;
  /* width: 100%;  */
  height: max-content; 
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1rem;
  gap: 5%;
  padding: 0% 5% 0% 5%;
}

.aside-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
  padding: 20% 0% 20% 0%;
}

label {
  color: var(--dark);
  font-size: 2rem;
}

select {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid var(--lm-blue); /* Grey border */
  padding: 2%; /* Some padding around the text */
  font-size: 1rem; /* Larger font size */
  border-radius: 0.5rem; /* Rounded corners */
}

.aside-form h2 {
  margin-bottom: 1em; /* Adds space below the <h2> elements, scalable with font size */
}

select {
  display: block; /* Ensures the select takes its own line */
  width: 100%; /* Keeps the select element responsive */
  margin-bottom: 1em; /* Adds space below the <select> element, scalable with font size */
  font-family: Courier;
  /* color: var(--lm-blue); */
}

.aside-form button {
  display: block; /* Ensures the button takes its own line */
  width: 100%; 
  margin-top: 1em; 
}


/* Styling for options */
option {
  padding: 5px; /* Padding for options */
  font-family: Courier;
}


footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* create ProjectCards.css once corresponding component is created and add the following CSS */
div.job-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; /* Adjusted */
  width: 100%;
}

/* is this needed? */
h1.user-cards {
  margin:0;
}

/* individual cards css for ProjectCards.jsx */

.project-card {
  border: 1px solid var(--lm-blue);
  /* max-width: 20rem;
  max-height: 100%; */
  width: 100%; 
  /* height: 20rem;  */
  display: flex;
  flex-direction: column;
  /* overflow-y:scroll; */
  background-color: var(--white);
  border-radius: 1rem;
  padding-bottom: 4%;
}

.card-content {
  color: var(--primary);
  display: flex;
  /* position: relative; */
  /* top: 2rem; */
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  width: 90%;
  gap: 1rem;
}

.project-title {
  color: var(--dark);
}

div.positions-needed {
  background-color: rgba(0, 153, 214, 0.871);
  color: aliceblue;
  text-align: left;
  padding: 1rem; /* Adjusted from 1em */
  border-radius: 1rem; /* Adjusted for consistency */
}

h3.positions-needed {
  color: var(--yellow);
  text-align: center;
}

/* css for applicant view in SingleProject.jsx */
div.single-project-details{
  color: var(--lm-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.applicant-view {
  display: flex;
  margin-top: 1rem; /* Adjusted from 1em */
  justify-content: center;
  flex-direction: column;
  gap: 1rem; /* Adjusted */
  width: 100%;
  height: 100%;
  /* color: var() */
}

section.application-form {
  border: 1px solid var(--lm-blue);
  width: 100%;
  height: max-content;
  max-height: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  font-size: 1.25rem;
}

.edit-project-form {
  border: 1px solid var(--lm-blue);
  width: 100%;
  height: max-content;
  max-height: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  overflow-y: auto;
  padding-bottom: 1%;
}

/* form and its contents CSS */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0;
  gap: 0.75rem;
}

/* Label styling */
form label {
  display: block;
  margin-bottom: 8px;
  color: var(--lm-blue);
  font-family: Courier;
}

/* Input field styling */
form input {
  width: 90%;
  padding: 1%;
  /* margin-bottom: 20px; */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  font-family: 'Courier New';
  font-size: 1.25rem;
}

textarea {
  width: 90%;
  height: 10rem;
  padding: 10px;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  font-family: 'Courier New';
  font-size: 1.5rem;
}

/* Placeholder styling */
form input::placeholder {
  color: #999;
}

/* Input focus styling */
form input:focus {
  outline: none;
  border-color: var(--lm-blue);
}

/* Submit button styling */
button {
  cursor: pointer;
  padding: 10px 20px;
  font-family: Courier;
  background-color: var(--lm-blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--white);
  color: var(--lm-blue);
}

/* for tablets */
@media screen and (min-width:376px) and (max-width: 1000px) {
  html {
    margin-top: 50px;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3% 0% 1% 0%;
  }
  aside {
    margin: auto;
    flex-basis: auto;
    float: inline-flex;
    border: 1px solid var(--lm-blue);
    max-height: 100%;
    width: 100%; 
    height: 20rem; 
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
    gap: 5%;
  }
  .aside-form {
    padding: 3%;
  }
  div.job-posts {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  div.project-card {
    padding-bottom: 4%;
    color: var(--lm-blue);
  }
  div.positions-needed {
    text-align: center;
  }
  .aside-form h2 {
    margin-bottom: 0.75em; /* Less space on smaller screens */
  }

  .aside-form select,
  .aside-form button {
    margin-bottom: 0.75em; /* Less space on smaller screens */
  }
}
/* For phones */
@media screen and (max-width:375px) {
  html {
    margin-top: 50px;
  }
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3% 0% 1% 0%;
  }
  aside {
    margin: auto;
    flex-basis: auto;
    float: inline-flex;
    border: 1px solid var(--lm-blue);
    max-height: 100%;
    width: 100%; 
    height: 20rem; 
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
    gap: 5%;
  }
  .aside-form {
    padding: 5%;
  }
  .project-card {
    padding-bottom: 4%;
  }
  div.job-posts {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  div.positions-needed {
    text-align: center;
  }
  .aside-form h2 {
    margin-bottom: 0.75em; /* Less space on smaller screens */
  }

  .aside-form select,
  .aside-form button {
    margin-bottom: 0.75em; /* Less space on smaller screens */
  }
}